:root {
  --body-color: #FFFFFF;
  --font-color: #424242;
  --font-hover-color: #7c7c7c;
  --focus-border-color: #C0C0C0;
  --button-body-color: #CFCFCF;
  --margin-top: 2.2rem;
}

[data-dark-mode] {
  --body-color: #191919;
  --font-color: #E1E1E1;
  --font-hover-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--TUNDORA);
  background-color: var(--WHITE);
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
  }
}

.comments-icon {
  margin-right: .35em;
}
