* {
  box-sizing: border-box;
}

body {
  color: rgb(170, 170, 170);
  background-color: rgb(19, 19, 19);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
  }
}

.comments-icon {
  margin-right: .35em;
}
