.container {
  display: flex;
  height: 65px;
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--body-color);
  box-shadow: 0px 0px 6px 4px rgb(16, 16, 16);
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--font-color);
}

.linksContainer {
  display: flex;
  gap: 1.5rem;
}

.link {
  color: var(--font-color);
  height: 100%;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  transition: color 0.1s ease 0s;
}

.link::after {
  transition: 0.2s ease-in;
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  border-bottom: 1px solid var(--font-color);
}

.link.active::after {
  background-color: rgb(46, 46, 46);
  opacity: 1;
  border-bottom: 3px solid var(--font-color);
}

.link:hover::after {
  opacity: 1;
}

.link:hover {
  color: var(--font-hover-color);
}
