.post-wrapper {
    background-color: rgb(32, 32, 32);
    display: flex;
    margin-bottom: 1em;

    .vote-wrapper {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40px;

        .vote-arrow-up,
        .vote-arrow-down {
            font-size: 1.2em;
            background-color: inherit;
            color: inherit;
            border: 0;
            padding: 0.4em;
            transition: 0.3s;
        }

        .vote-arrow-up:hover,
        .vote-arrow-down:hover {
            cursor: pointer;
            background-color: rgb(51, 51, 51);
        }

        .vote-score {
            color: rgb(225, 225, 225);
            padding: 0.275em;
        }
    }

    .content-wrapper {
        background-color: rgb(38, 38, 38);
        padding: 0.3em 0.6em;
        display: flex;
        flex-direction: column;
        width: 100%;

        .post-title {
            font-weight: 500;
            font-size: 1.4em;
            color: inherit;
        }

        .post-content,
        .post-data a,
        .post-comments {
            color: rgb(225, 225, 225);
        }

        .post-content {
            margin-bottom: .25em;
        }

        .post-data {
            margin-bottom: .125em;
        }

        .post-comments a {
            font-size: .9em;
        }

        .post-title a:hover,
        .post-data a:hover,
        .post-comments a:hover {
            color: rgb(255, 255, 255);
        }

        .post-data {
            font-size: 0.8em;
        }

        .fa-comments {
            color: rgb(206, 206, 206);
            margin-right: 0.3em;
            font-size: 1.05em;
        }
    }
}
