.logInForm {
  margin: var(--margin-top) auto 0px auto;
  max-width: 300px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 0.9rem;
}

input {
  width: 100%;
  height: 30px;
  padding: 0.5rem;
  border: 1px solid var(--font-color);
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border: 1px solid var(--focus-border-color);
}

.logInBtn {
  border: 0;
  border-radius: 3px;
  padding: 0.7rem 1.5rem;
  background-color: var(--button-body-color);
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

.logInBtn:hover {
  color: var(--font-hover-color);
}
