.container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    font-size: 1rem;
    gap: 1.2rem;
}

.categoryTitle {
    font-size: 1.9rem;
}

.postContainer {
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
    background: var(--body-color);
    border: 1px solid var(--post__border-color);
    border-radius: 8px;
    box-shadow: 0px 3px 7px 1px rgba(121, 121, 121, 0.5);

    .postTitle {
        font-weight: 600;
        font-size: 1.3rem;
        color: inherit;
    }

    .postContent {
        color: var(--text-color);
        margin: 0.25rem 0 0.4rem 0;
    }

    .postAuthorTimestamp {
        margin-right: 0.45rem;
        letter-spacing: 0.02rem;
        font-size: 0.8rem;
    }

    .postData {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }
}

.addCommentFormContainer {
    position: relative;
    background-color: var(--body-color);
    border: 1px solid var(--post__border-color);
    border-radius: 8px;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    margin-bottom: 0.5em;
    box-shadow: 0px 3px 7px 1px rgba(121, 121, 121, 0.5);

    .addCommentContainer {
        .addCommentTextAreaLabelContainer {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;

            .addCommentTextAreaLabel {
                a {
                    color: var(--text-color);
                }

                a:hover {
                    color: var(--text-hover-color);
                }
            }
        }

        .addCommentTextArea {
            display: block;
            background-color: var(--body-color);
            border: 1px solid var(--post__border-color);
            border-radius: 8px;
            color: var(--text-color);
            width: 100%;
            margin-bottom: 0.5rem;
            padding: 1rem 0.75rem;
            resize: none;
            font-family: inherit;
            font-size: 1em;
            outline: none;
        }

        .addCommentTextArea::placeholder {
            color: rgb(141, 141, 141);
        }
    }

    .addCommentButtonContainer {
        display: flex;
        justify-content: flex-end;

        .addCommentButton {
            display: block;
            background-color: var(--body-color);
            border: 1px solid var(--post__border-color);
            border-radius: 8px;
            color: var(--text-color);
            font-family: inherit;
            right: 8px;
            padding: 0.5rem 0.75rem;
            font-size: 0.8rem;
            transition: 0.2s;
            border-radius: 4px;

            &:hover {
                background-color: var(--dark-body-color);
                color: var(--dark-text-color);
                cursor: pointer;
            }
        }
    }
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    .postCommentContainer {
        background-color: var(--body-color);
        border: 1px solid var(--post__border-color);
        border-radius: 8px;
        padding: 0.4rem 0.6rem 0.45rem 0.6rem;
        margin-bottom: 0.5rem;
        position: relative;
        box-shadow: 0px 3px 7px 1px rgba(121, 121, 121, 0.5);

        .postCommentAuthor {
            a {
                color: var(--text-color);
                font-size: 1.05em;
                font-weight: 600;
                margin-right: 0.25em;
            }

            a:hover {
                color: var(--text-hover-color);
            }

            .postCommentTime {
                font-size: 0.8em;
            }
        }

        hr {
            border: 1px solid rgba(54, 54, 54, 0.25);
            color: rgba(70, 70, 70, 0.666);
            margin: 0.2rem 0 0.5rem 0;
        }

        .postCommentTextEditContainer {
            display: flex;
        }

        .postCommentText {
            margin: 0;
            color: var(--text-color);
            width: 100%;
        }

        .postCommentEditLink {
            align-self: flex-end;
            text-align: center;
            color: rgb(225, 225, 225);
            font-family: inherit;
            font-size: 0.8em;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                color: rgb(255, 255, 255);
            }
        }
    }
}

.postAuthorLabel {
    color: var(--text-color);
}

.postCommentsLabel {
    color: var(--text-color);
    font-size: 0.8rem;
}
