.post-wrapper {
    .post-title-full {
        font-weight: 600;
        font-size: 1.5em;
        color: inherit;
    }

    .post-content-full {
        color: rgb(206, 206, 206);
        font-size: 1.1em;
        padding: 0.25em 0 0.3em 0;
    }

    .post-data-time-full {
        margin-right: 0.5em;
    }
}

.add-comment-form-wrapper, .comments-wrapper {
    position: relative;
    background-color: rgb(38, 38, 38);
    padding: 0.4em 0.6em 0.45em 0.6em;
    margin-bottom: 1em;

    .add-comment-wrapper {
        .add-comment-textarea-label-wrapper {
            margin-bottom: .5em;
            font-size: .8em;
            .add-comment-textarea-label {
                a {
                    color: rgb(206, 206, 206);
                }
                a:hover {
                    color: rgb(255, 255, 255);
                }
            } 
        }
        .add-comment-textarea {
            display: block;
            border: 1px solid rgb(48, 48, 48);
            background-color: rgb(36, 36, 36);
            color:rgb(221, 221, 221);
            width: 100%;
            margin-bottom: .5em;
            padding: .5em;
            resize: none;
            font-family: inherit;
            font-size: 1em;
        }
    }

    .post-comment-wrapper {
        .post-comment-author {
            a {
                color: rgb(225, 225, 225);
                font-size: 1.05em;
                font-weight: 600; 
                margin-right: .25em;
            }

            a:hover {
                color: rgb(255, 255, 255);
            }
    
            .post-comment-time {
                font-size: 0.8em;
            }
        }
    
        hr {
            color: rgba(70, 70, 70, 0.666);
            margin: 0.2em 0 0.5em 0;
        }

        .post-comment-text {
            color: rgb(206, 206, 206);
        }
    }

    .add-comment-button-wrapper {
        height: 32px;

        .add-comment-button {
            display: block;
            background-color:rgb(49, 49, 49);
            border: 0;
            color: rgb(225, 225, 225);
            font-family: inherit;
            position: absolute;
            right: 8px; 
            padding: .75em 1em;
            font-size: .8em;
            transition: 0.2s;
            border-radius: 12px;

            &:hover {
                background-color:rgb(60, 60, 60);
                color: rgb(255, 255, 255);
                cursor: pointer;
            }
        }
    }
}




