.post-wrapper {
  border: 1px solid rgb(55, 55, 55);
  background-color: rgb(39, 39, 39);
  display: flex;
}

.vote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  border-right: 1px solid rgb(55, 55, 55);
}

.vote-score {
  font-size: .8em;
  color: rgb(226, 226, 226);
}

.vote-arrow-up, .vote-arrow-down {
  background-color: inherit;
  color: inherit;
  border: 0;
  padding: .4em;
}

.content-wrapper {
  padding: .3em .6em;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.post-title {
  font-weight: 500;
  color: #FFF;
}