.container {
  margin-top: 2rem;
}

.categoryList {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.categoryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 38px;
  color: var(--text-color);
  border: 1px solid var(--category-item__border-color);
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: var(--dark-body-color);
    color: var(--dark-text-hover-color);
  }
}
